<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="arm" default="chin"/>
  <arg name="arm_model" default="frame"/>
  <arg name="config_pkg" default="$(eval '$(find ' + arg('arm') + '_' + arg('arm_model') + '_moveit_config)')"/>
  <arg name="description_pkg" default="$(eval '$(find ' + arg('arm') + '_description)')"/>

  <!-- params -->
  <rosparam file="$(find whi_arm_interface)/config/hardware_$(arg arm).yaml" command="load"/>
  <rosparam file="$(find whi_arm_interface)/config/controllers_$(arg arm)_$(arg arm_model).yaml" command="load"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg description_pkg)/urdf/$(arg arm)_$(arg arm_model).urdf.xacro"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" value=""/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/whi_arm_interface/joint_states"]</rosparam>
  </node>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(arg config_pkg)/config/$(arg arm)_$(arg arm_model).srdf"/>

  <!-- Start hardware_interface node -->
  <node name="whi_arm_interface" pkg="whi_arm_interface" type="whi_arm_interface_node" output="screen">
    <param name="arm" value="$(arg arm)"/>
  </node>

  <!-- rosserial server -->
  <group if="$(eval arg('arm') == 'ar')">
    <node pkg="rosserial_python" name="serial_node" type="serial_node.py" output="screen">
      <param name="~port" value="/dev/ttyACM0"/>
      <param name="~baud" value="115200"/>
    </node>
  </group>

  <!-- Start controllers -->
  <node ns="whi_arm_interface" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="controllers/state
	            controllers/scaled_pos_controller --timeout 600"/>
</launch>
